{% load static %}

<header id="Cabecera">
    <div class="row">
        <div class="col-md-12">
            <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{% static 'images/andina_1.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/andina_2.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="{% static 'images/andina_3.jpg' %}" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="overlay row primera">
                <div id="Contendor-cabecera overlay">
                    <div>
                        <div class="text-white">
                            {% if user.is_authenticated %}
                                <div class="segunda">
                                    <span class="mb-3 text-light">
                                        Bienvenido, {{user.first_name}}
                                    </span>
                                </div>
                            {% endif %}
                            <div class="segunda d-md-block">
                                <span
                                class="{% if user.is_authenticated %}connected{% else %}text-light{% endif %}">
                                Somos la SSP
                                </span>
                            </div>
                            <div class="tercera d-md-block">
                                <img src="{% static 'images/LogoAndina.png' %}" width="300px" alt="">
                            </div>
                            <div class="tercera d-md-block">
                                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="{% url 'contacto' %}" role="button"
                                rel="nofollow">Contacto</a>
                                <a data-mdb-ripple-init class="btn btn-outline-light btn-lg m-2" href="#contenido"
                                role="button" rel="nofollow">Ver Servicios</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const typingTexts = document.querySelectorAll('.typing-text');

        typingTexts.forEach(text => {
            const textContent = text.textContent;
            text.textContent = '';

            let i = 0;
            function typeWriter() {
                if (i < textContent.length) {
                    text.textContent += textContent.charAt(i);
                    i++;
                    setTimeout(typeWriter, 50); // Ajusta el valor para cambiar la velocidad de escritura (en milisegundos)
                }
            }

            setTimeout(typeWriter, 500); // Retraso antes de iniciar la animación (en milisegundos)
        });
    });
</script>