{% load static %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'inicio' %}">GSER</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex ms-0 me-2" role="search" action="">
                <!-- hay que colocar la acción aquí cuando esté lista -->
                <input class="form-control me-2" type="search" placeholder="Ingrese Servicio... " aria-label="Search"
                    name="q">
                <button class="btn btn-outline-dark" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <ul class="navbar-nav ms-auto me-0 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link menu" aria-current="page" href="{% url 'inicio' %}">
                        <i class="fa-solid fa-house"></i>
                        <span>inicio</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link menu" aria-current="page" href="{% url 'inicio' %}">
                        <i class="fa-solid fa-people-group"></i>
                        <span>Nosotros</span></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown menu">
                    <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-users fs-1"></i>
                        <span>Gestión de Solicitudes</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item menu" href="{% url 'Ficha' user.id %}#usuarios" target="_blank"><i class="fa-solid fa-address-card"></i> Mi cuenta</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-regular fa-envelope"></i> Mis Solicitudes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        {% for servicio in user.servicio_autorizado.all %}
                        <li><a class="dropdown-item menu" href="{% url servicio.vista %}">{{servicio.nombre_area}}</a></li>
                        {% endfor %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-utensils"></i> Alimentación</a></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-bed"></i> Hotelería</a></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-shirt"></i> Lavandería</a></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-screwdriver-wrench"></i> Mantención</a></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-van-shuttle"></i> Transporte</a></li>
                        {% if user.tipo_usuario == 2 %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-file-lines"></i> Ver Aprobaciones</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="#" target="_blank"><i class="fa-regular fa-envelope"></i> Ver mensajes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-list"></i> Mi Dashboard</a></li>
                        {% endif %}
                    </ul>
                </li>
                {% if user.is_staff or user.is_superuser %}
                <li class="nav-item dropdown menu">
                    <a class="nav-link dropdown-toggle menu" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-user-tie fs-1"></i>
                        <span style="font-size: 14px;">Administrador</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item menu" href="{% url 'NuevoUsuario' %}#usuarios"><i class="fa-solid fa-user-plus"></i> Nuevo usuario</a></li>
                        <li><a class="dropdown-item menu" href="{% url 'ListaUsuarios' %}#usuarios"><i class="fa-solid fa-users-gear"></i> Listar Usuarios</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="#"><i class="fa-solid fa-list-ol"></i> Lista solicitudes</a></li>
                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-file-arrow-up"></i> Cargas masivas</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item menu" href="/admin/" target="_blank"><i class="fa-solid fa-user-secret"></i> Consola Admin</a></li>
                    </ul>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-2 me-0 text-center">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <table>
                        <tr>
                            <td>
                                <a class="nav-link menu" href="{% url 'logout' %}">Cerrar sesión</a>
                            </td>
                            <td>
                                <a href="#"><i class="fa-regular fa-envelope fs-1"></i></a>
                            </td>
                        </tr>
                    </table>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>