html {
    scroll-behavior: smooth;

}

body {
    text-align: center;
    height: 100vh;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
}

img {
    /* filter:drop-shadow(
        0 0 10px rgba(0, 0, 0, 0.8)
    ); */
    mix-blend-mode: multiply;
}

.fab {
    color: white;
}

.form_error {
    font-size: smaller;
    color: rgb(241, 146, 4);
}

.form_span {
    font-size: x-small;
    color: #06bb66;
}

/* Navbar transparente cuando está dentro del header */
.navbar {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.navbar a {
    color: white;
    /* Color blanco cuando el navbar es transparente */
}

.navbar .btn-outline-dark {
    color: white;
    border-color: white;
}

/* Navbar sólido cuando sale del header */
.navbar.outside-header,
.dropdown-menu.outside-header {
    background-color: rgba(0, 0, 0, 0.8);
    /* Fondo opaco */
}

.navbar.outside-header .btn-outline-dark {
    color: darkgray;
    border-color: darkgray;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 20px;
}

.nav-link:hover {
    color: #f35525 !important;
}

.nav-link:focus {
    color: #f35525 !important;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.nav-link i {
    font-size: 2rem;
}

.nav-link span {
    font-size: 14px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.3);
}

#Cabecera {
    position: relative;
}

.carousel {
    position: relative;
    z-index: 1;
}

/* Asegurarse de que las imágenes mantengan su proporción */
.carousel-item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    /* Las imágenes mantienen su proporción */
}

.overlay {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
    text-align: left;
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(4px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: white;
    margin: 0 auto;
    border-radius: 0px 40px 0px 40px;
    border: solid 1px rgba(236, 125, 6, 0.432);

}

.primera {
    font-size: clamp(24px, 4vw, 48px);
    animation: showup 7s infinite;
}

.segunda {
    width: 0px;
    font-size: clamp(20px, 3vw, 44px);
    animation: reveal 7s infinite;
}

.tercera {
    margin-left: -355px;
    font-size: clamp(18px, 2vw, 40px);
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity: 0;
    }
    20% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slidein {
    0% {
        margin-left: -800px;
    }

    20% {
        margin-left: -800px;
    }

    35% {
        margin-left: 0px;
    }

    100% {
        margin-left: 0px;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        width: 0px;
    }

    20% {
        opacity: 1;
        width: 0px;
    }

    30% {
        width: 355px;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 355px;
    }
}


.overlay img {
    width: 200px;
    /* Ajusta el tamaño del logo según tus necesidades */
}

.overlay h1 {
    color: white;
    /* Ajusta el color del texto según tus necesidades */
    font-size: clamp(16px, 4vw, 48px);
    /* Ajusta el tamaño del texto según tus necesidades */
}

#Cabecera h2,
#Cabecera h3 {
    color: white;
}



/* Fondo de los modales */
.fade {
    background-color: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(6px) !important;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.3) !important;
    color: white !important;
    border-radius: 0px 40px 0px 40px;
    border: 1px solid rgba(236, 125, 6, 0.432);
    justify-items: left;
}

.modal-title {
    color: white;
}

.modal-footer button.aceptar {
    background-color: #06bb66;
}

.modal-footer button.cancelar {
    background-color: #f35525;
}

/* Contenedor de las Cards de servicios */
.properties-box {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;

}


.properties-box:hover> :not(:hover) {
    filter: blur(5px);
    opacity: 0.5;
}


.properties-box .item {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    margin: 5px 5px 5px 5px;
    height: 500px;
    border-radius: 0px 40px 0px 40px;
}

.properties-box .descripcion {
    height: 120px;
    overflow: hidden;
}

.card-3d {
    background-color: white;
    padding: 5px;
    border-radius: 0px 40px 0px 40px;
    border: 1px solid rgba(236, 125, 6, 0.432);

}

.card-3d:hover {
    transform: translateY(-10px);
    /* Desplaza la card hacia arriba al pasar el ratón */
    box-shadow: 0 4px 8px rgb(236, 125, 6), 0 6px 20px rgb(236, 125, 6);
    transition: transform 0.2s ease-in-out;
}


.circular-images {
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.properties-items {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px 5px 10px;
    padding: 0px 0px 0px 0px;
}

.properties-items .item .circular-images {
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.properties-items .item img {
    transition: transform 0.3s ease;
}

.properties-items .item:hover img {
    transform: scale(1.1);
}

.properties-items .item .image-container {
    position: relative;
}

.properties-items .item .price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f35525;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}

.item .price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f35525;
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.item .image-container {
    width: 100%;
    height: 300px;
    /* Ajusta la altura según tus necesidades */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.filtro::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color:#f35525;
    transition: 0.3s ease;
}

.filtro:hover::after {
    width: 100%;
}

.messages {
    list-style-type: none;
    padding: 0;
    max-width: 1280px;
}

.messages .debug {
    background-color: #f1f1f1;
    color: #333;
}

.messages .info {
    background-color: #d9edf7;
    color: #31708f;
}

.messages .success {
    background-color: #a8fa87;
    color: #2e5a2f;
}

.messages .warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.messages .error {
    background-color: #f2dede;
    color: #a94442;
}

.connected {
    color: #f35525;
}

.caja {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 10px;
    width: clamp(200px, 100%, 1280px);
    margin: clamp(10px, 5%, 1280px) auto;
    font-size: clamp(12px, 4vw, 48px);
}

.box {
    background-color: #06bb66;
    color: white;
}

/* Estilo para Tabla ID */

.tabla_id {	
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    width:100%;
    margin:clamp(10px, 5%, 1280px) auto;
    font-size:clamp(12px, 2rem, 48px);
}

.celdas {	
    background-color: white; 
    color:black;
>>>>>>> d8d3176cd12683cdbda0c9a60f942b61aa33d66a
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.celda1 {
    grid-row: span 3;
    max-width: min-content;
}

.celda2 {
    grid-row: span 2;
    width: fit-content;
}

.box2 {
    grid-column: span 2
}

.caja:hover> :not(:hover) {
    filter: blur(5px);
    opacity: 0.5;
}