{% extends 'base.html' %}

{% block contenido %}
<section id="lockers">

</section>

<!-- Modal -->
<div class="modal fade" id="nuevoLockerModal" tabindex="-1" aria-labelledby="nuevoLockerModalLabel" aria-hidden="true" style="background-color: rgba(255,255,255,0.7);">
    <div class="modal-dialog modal-md" sytle="background-color: white;">
        <div class="modal-content" >
            <div class="modal-header">
                <h1 class="modal-title">Registro de Locker</h1>
                <a href="{% url 'inicio' %}#contenido"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
            </div>
            <div class="modal-body">
                <!-- Formulario para ingresar nuevo locker -->
                <form method="post" enctype="multipart/form-data" class="row g-3 mx-3">
                    {% csrf_token %}
                    <h2 class="text-light text-end">Identificación del solicitante</h2>
                    <small>{% include 'includes/identificacion.html' %}</small>
                    <hr>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="numero_locker" name="numero_locker" placeholder="Número de locker" value="{{ formulario.numero_locker.value|default_if_none:'' }}">
                        <label for="numero_locker" class="form-label">Número de Locker:</label>
                        {% if formulario.numero_locker.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.numero_locker.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="genero" name="genero">
                            {% for key, value in formulario.genero.field.choices %}
                            <option value="{{ key }}" {% if formulario.genero.value == key %}selected{% endif %}>{{ value }}</option>
                            {% endfor %}
                        </select>
                        <label for="genero" class="form-label">Género:</label>
                        {% if formulario.genero.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.genero.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="lugar_trabajo" name="lugar_trabajo" required>
                            {% for area in areas %}
                            <option value="{{ area.id }}" {% if formulario.lugar_trabajo.value == area.id %}selected{% endif %}>{{ area.nombre_area }}</option>
                            {% endfor %}
                        </select>
                        <label for="lugar_trabajo" class="form-label">Lugar de Trabajo:</label>
                        {% if formulario.lugar_trabajo.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.lugar_trabajo.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="casacambio" name="casacambio" required>
                            {% for sala in salas_cambio %}
                            <option value="{{ sala.id }}" {% if formulario.casacambio.value == sala.id %}selected{% endif %}>{{ sala.nombre_sala }}</option>
                            {% endfor %}
                        </select>
                        <label for="casacambio" class="form-label">Casa de Cambio:</label>
                        {% if formulario.casacambio.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.casacambio.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="modal-footer">
                        <a href="{% url 'inicio' %}">
                            <button type="button" class="btn btn-outline-danger btn-lg m-2 cancelar" data-bs-dismiss="modal" style="width: 100px;"><i class="fa-solid fa-xmark fs-2"></i></button>
                        </a>
                        <button type="submit" class="btn btn-outline-success btn-lg m-2 aceptar" style="width: 100px;"><i class="fa-solid fa-check fs-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script para activar Modal cuando se cargue la página -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var nuevoLockerModal = new bootstrap.Modal(document.getElementById('nuevoLockerModal'));
        nuevoLockerModal.show();
    });
</script>
{% endblock %}
