{% extends 'base.html' %}

{% block contenido %}
<section id="lockers">

</section>

<!-- Modal -->
<div class="modal fade" id="nuevoLockerModal" tabindex="-1" aria-labelledby="nuevoLockerModalLabel" aria-hidden="true" style="background-color: rgba(255,255,255,0.7);">
    <div class="modal-dialog modal-lg" sytle="background-color: white;">
        <div class="modal-content" >
            <div class="modal-header">
                <h1 class="modal-title">Registro de Locker</h1>
                <a href="{% url 'inicio' %}#contenido"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
            </div>
            <div class="modal-body row g-3 mx-3">
                <!-- Formulario para ingresar nuevo locker -->
                <h2 class="text-light text-start">Identificación del solicitante</h2>
                {% include 'includes/id.html' %}
                <hr>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-floating mb-3">
                        <select class="form-select" id="lugar_trabajo" name="lugar_trabajo" required>
                            {% for area in areas %}
                            <option value="{{ area.id }}" {% if formulario.lugar_trabajo.value == area.id %}selected{% endif %}>{{ area.nombre_area }}</option>
                            {% endfor %}
                        </select>
                        <label for="lugar_trabajo" class="form-label">Lugar de Trabajo:</label>
                        {% if formulario.lugar_trabajo.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.lugar_trabajo.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="casacambio" name="casacambio" required>
                            <option value="" disabled selected>Seleccione una Casa de Cambio</option>
                        </select>
                        <label for="casacambio" class="form-label">Casa de Cambio:</label>
                        {% if formulario.casacambio.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.casacambio.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="numero_locker" name="numero_locker" placeholder="Número de locker" value="{{ formulario.numero_locker.value|default_if_none:'' }}">
                        <label for="numero_locker" class="form-label">Número de Locker:</label>
                        {% if formulario.numero_locker.errors %}
                            <div class="alert alert-warning" role="alert">
                            {% for error in formulario.numero_locker.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'inicio' %}">
                            <button type="button" class="btn btn-outline-danger btn-lg m-2 cancelar" data-bs-dismiss="modal" style="width: 100px;"><i class="fa-solid fa-xmark fs-2"></i></button>
                        </a>
                        <button type="submit" class="btn btn-outline-success btn-lg m-2 aceptar" style="width: 100px;"><i class="fa-solid fa-check fs-2"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script para activar Modal cuando se cargue la página -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var nuevoLockerModal = new bootstrap.Modal(document.getElementById('nuevoLockerModal'));
        nuevoLockerModal.show();
    });
</script>

<script> // Carga Casas de cambio
    document.getElementById('lugar_trabajo').addEventListener('change', function() {
        var lugar_trabajo_id = this.value;
        console.log(lugar_trabajo_id);
        var casas_cambio = document.getElementById('casacambio');
        casas_cambio.innerHTML = '<option value="">Seleccione una Casa de Cambio</option>';
        casas_cambio.disabled = true;

        if (lugar_trabajo_id) {
            fetch('/lockers/cargar_casas/'+ lugar_trabajo_id)
                .then(response => response.json())
                .then(data => {
                    casas_cambio.disabled = false;
                    if(data.length > 0){
                        data.forEach(function(casa) {
                        var option = document.createElement('option');
                        option.value = casa.id;
                        option.textContent = casa.nombre_sala;
                        casas_cambio.appendChild(option);
                    });
                    } else {
                        var messageOption = document.createElement('option');
                        messageOption.value = '';
                        messageOption.textContent = 'No hay casas de cambio disponibles para este lugar de trabajo.';
                        casas_cambio.appendChild(messageOption);
                    }
                    
                    casas_cambio.dataset.lugar_trabajo_id= lugar_trabajo_id;
                })
                .catch(error => console.error('Error al cargar las casas de cambio:', error));
        } else {
            casas_cambio.innerHTML = '<option value="">Selecciones una Lugar de Trabajo</option>';
            casas_cambio.disabled = true;
        }
        
    });
</script> 

<script> // Carga Locker disponbibles

</script> 


{% endblock %}
