{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section id="carrito">
    <div class="border border-info-subtle rounded-3">
        <h2>Detalle de tu solicitud</h2>
        <div>
            <hr>
            Aquí, se encuentra el detalle de lo que has ido agregando.  Revisa las cantidades y/o modifícalas si lo deseas.
            <hr>
        </div>
        <div id="table-responsive" style="max-width:100%;max-height: 400px;overflow-y: auto;">
            {% if carrito %}
            <table class="table table-sm align-middle" style="max-width: 100%;">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre del producto</th>
                        <th>Descripción</th>
                        <th>Cantidad</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody>
                    {% csrf_token %}
                    {% for elemento in elementos %}
                    <tr>
                        <td><img src="{% if not elemento.producto.imagen %}{% static 'images/srv_lavanderia.jpeg' %}{% else %}{{ elemento.producto.imagen.url }}{% endif %}" alt="{{ elemento.producto.nombre }}"
                                class="rounded img-thumbnail float-start" width="100px"></td>
                        <td>{{ elemento.producto.nombre_servicio }}</td>
                        <td>
                            <p>{{ elemento.producto.descripcion_servicio }}</p>
                        </td>
                        <td>{{ elemento.cantidad }}</td>
                        <td>
                            <a href="{% url 'aumentar_item' elemento.id %}?vista={{vista}}#carrito"><i
                                    class="fa-solid fa-circle-plus fs-3 text-success"></i></a>
                            <a href="{% url 'disminuir_item' elemento.id %}?vista={{vista}}#carrito"><i
                                    class="fa-solid fa-circle-minus fs-3 text-danger"></i></a>
                            <a href="{% url 'eliminar_linea' elemento.id %}?vista={{vista}}#carrito"><i
                                    class="fa-solid fa-trash-can fs-3 text-dark"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>
                <h2 class="text-center" style="width: 100%;"><i class="fa-regular fa-face-frown-open"></i> Tu carro está
                    vacío</h2>
            </div>
        </div>
        {% endif %}
    </div>
    <div>
        <h3 class="text-end">Total <i class="fa-solid fa-receipt"></i>: {{ total }}</h3>
    </div>
    <div class="text-end">
        {% if carrito %}
        <a href="{% url 'vaciar_carrito' %}">
            <button type="button" class="btn btn-outline-danger btn-lg m-2" data-bs-toggle="modal"
            data-bs-target="#Vaciar"><i class="fa-solid fa-trash-arrow-up"></i> Eliminar Carrito</button>
        </a>
        {% endif %}
        
        <a href="{% url vista %}#carrito"><button type="button" class="btn btn-outline-primary btn-lg m-2"><i
                    class="fa-solid fa-cart-arrow-down"></i> Cargar más...</button></a>
        {% if carrito %}<button type="button" class="btn btn-outline-success btn-lg m-2" data-bs-toggle="modal"
            data-bs-target="#Pedir"><i class="fa-solid fa-bag-shopping"></i> Realizar Solicitud</button>{% endif %}
    </div>

</section>


{% endblock %}