
<a href="{% url 'inicio' %}" class="btn btn-secondary">
    ← Volver al inicio
</a>

<br><br>

<iframe
    src="https://www.appsheet.com/start/f04ef166-7fb3-4856-9418-a7b89fcd2d32"
    width="100%"
    height="900px"
    style="border:none;">
</iframe>

<iframe width="100%" height="747px" src="https://lookerstudio.google.com/embed/reporting/c323ecfb-8882-43b0-8024-21db9c37890b/page/nDSPF" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>