{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section class="mt-2" id="contenido">
    <div class="section properties">
        <div class="container px-4 text-center">
            <h1 class="text-center py-5"><i class="fa-solid fa-hotel"></i> Nuestros Servicios</h1>
            <ul class="properties-filter">
                <li>
                    <a class="is_active" href="#!" data-filter="*">Mostrar todo</a>
                </li>
                <li>
                    <a href="#!" data-filter=".alm">Alimentación</a>
                </li>
                <li>
                    <a href="#!" data-filter=".hot">Hotelería</a>
                </li>
                <li>
                    <a href="#!" data-filter=".man">Mantención</a>
                </li>
                <li>
                    <a href="#!" data-filter=".lav">Lavandería</a>
                </li>
                <li>
                    <a href="#!" data-filter=".tra">Transporte</a>
                </li>
                <li>
                    <a href="#!" data-filter=".otr">Otros</a>
                </li>
            </ul>
            <div class="properties-box row gx-5">
                {% for areaservicio in areas %}
                <div
                    class="card-3d properties-items col-12 col-lg-4 col-md-6 mb-30 {% if areaservicio.id == 1 %}alm{% elif areaservicio.id == 2 %}hot{% elif areaservicio.id == 3 %}man{% elif areaservicio.id == 4 %}lav{% elif areaservicio.id == 5 %}tra{% else %}otr{% endif %}">
                    <div class="item">
                        <div class="image-container">
                            <a href="{% url areaservicio.vista %}" class="card-trigger">
                                <img src="{% if areaservicio.imagen %}{{ areaservicio.imagen.url }}{% else %}{% static 'images/srv_alimentacion.jpeg' %}{% endif %}" alt="" class="circular-images">
                            </a>
                        </div>
                        <span class="price">{{ areaservicio.nombre_area|title }}</span>
                        <div class="descripcion"><a href="{% url areaservicio.vista %}" class="form_error">{{areaservicio.descripcion}}</a></div>
                        <div class="main-button">
                            <a href="{% url areaservicio.vista %}">Solicitar</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <h2 class="text-center" style="width: 100%;"><i class="fa-solid fa-heart-crack"></i> Ups! No encuentro
                    lo que buscas</h2>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include 'carrito_offcanva.html' %}

{% endblock %}